@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  line-height: 1;
  line-height: 1.5;
  word-break: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }

body {
  font-size: 1.4rem; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

img, video {
  max-width: 100%;
  height: auto; }

button {
  background: transparent;
  cursor: pointer;
  color: inherit; }

a {
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit; }

input, select, textarea, button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  input:focus, select:focus, textarea:focus, button:focus {
    outline: 0; }

input[type="color"] {
  border: 0; }

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
select:focus,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  vertical-align: top;
  font-size: 1.4rem;
  line-height: 1.5; }

input[type="reset"], input[type="button"], input[type="submit"], button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6, p, button {
  font-size: 1.4rem; }

.g-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

html, body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  min-height: 100vh; }

#w {
  width: 100vw;
  overflow-x: hidden; }

html {
  font-size: 0.78125vw; }
  @media (min-width: 1601px) {
    html {
      font-size: 12.5px; } }
  @media (max-width: 1024px) {
    html {
      font-size: 0.97656vw; } }
  @media (max-width: 768px) {
    html {
      font-size: 1.30208vw; } }
  @media (max-width: 414px) {
    html {
      font-size: 2.41546vw; } }
  @media (max-width: 320px) {
    html {
      font-size: 3.125vw; } }

body {
  width: 100%; }
  @media (max-width: 414px) {
    body {
      font-size: 16px; } }

@media (max-width: 414px) {
  main {
    margin-top: 10rem;
    padding-bottom: 5rem; } }

.g-flux {
  width: 100%;
  max-width: 110rem;
  margin-left: auto;
  margin-right: auto; }
  .g-flux.m-pad {
    max-width: calc(110rem + 2*8vw);
    padding-left: 8vw;
    padding-right: 8vw; }
  .g-flux.m-large {
    max-width: 110rem; }
    .g-flux.m-large.m-pad {
      max-width: calc(110rem + 2*8vw); }
  .g-flux.m-small {
    max-width: 64rem; }
    .g-flux.m-small.m-pad {
      max-width: calc(64rem + 2*8vw); }

@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  src: url("../fonts/sourcesanspro-regular.eot");
  src: url("../fonts/sourcesanspro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-regular.woff") format("woff"), url("../fonts/sourcesanspro-regular.ttf") format("truetype"), url("../fonts/sourcesanspro-regular.svg#Source Sans Pro") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  src: url("../fonts/sourcesanspro-bold.eot");
  src: url("../fonts/sourcesanspro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-bold.woff") format("woff"), url("../fonts/sourcesanspro-bold.ttf") format("truetype"), url("../fonts/sourcesanspro-bold.svg#Source Sans Pro") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
  src: url("../fonts/sourcesanspro-semibold.eot");
  src: url("../fonts/sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sourcesanspro-semibold.woff") format("woff"), url("../fonts/sourcesanspro-semibold.ttf") format("truetype"), url("../fonts/sourcesanspro-semibold.svg#Source Sans Pro") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: "Playfair";
  font-display: swap;
  src: url("../fonts/playfairdisplay-bold.eot");
  src: url("../fonts/playfairdisplay-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/playfairdisplay-bold.woff") format("woff"), url("../fonts/playfairdisplay-bold.ttf") format("truetype"), url("../fonts/playfairdisplay-bold.svg#Playfair") format("svg");
  font-weight: 700;
  font-style: normal; }

html {
  font-family: 'Source Sans Pro', sans-serif;
  color: #3D3C3C; }

p + .a-button, ul + .a-button {
  margin-top: 3rem; }

p + ul {
  margin-top: 2rem; }

.t1 {
  font-size: 8rem;
  line-height: 1; }

.t2 {
  font-family: Playfair;
  font-size: 5rem;
  letter-spacing: 0;
  line-height: 1.3; }
  @media (max-width: 414px) {
    .t2 {
      font-size: 3.5rem; } }
  .t2 + .t3 {
    margin-top: 2rem; }

.t3 {
  font-size: 2rem;
  line-height: 1.5;
  color: #3D3C3C;
  letter-spacing: 0; }
  .t3 + p {
    margin-top: 2rem; }

.t4 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #3149F4;
  text-transform: uppercase;
  letter-spacing: 0.92; }
  .t4 + .t2 {
    margin-top: 1rem; }

.t5 {
  font-size: 1.6rem;
  font-weight: 600; }

.a-button {
  display: inline-block;
  background-color: #3149F4;
  color: white;
  font-size: 1.1rem;
  letter-spacing: .1rem;
  padding: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: background-color 0.5s cubic-bezier(0.85, 0, 0.3, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.85, 0, 0.3, 1);
  transition: background-color 0.5s cubic-bezier(0.85, 0, 0.3, 1); }
  .a-button[disabled] {
    background-color: #EDEFF3; }
  .a-button.m-clear {
    background-color: transparent;
    color: #3149F4;
    text-transform: lowercase; }
    .a-button.m-clear[disabled] {
      opacity: .3; }
  .a-button:focus {
    outline: 0.3rem solid #EBEDFE; }
  @media print {
    .a-button {
      display: none; } }

label.a-radio {
  position: relative; }
  label.a-radio input {
    position: absolute;
    opacity: 0; }
  label.a-radio span {
    padding-left: 32px;
    position: relative; }
  label.a-radio span::before, label.a-radio span::after {
    content: '';
    position: absolute; }
  label.a-radio span::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid #B4BFC9;
    border-radius: 3px;
    background-color: white;
    -webkit-box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0.1rem 0.4rem 0 rgba(0, 0, 0, 0.1); }
  label.a-radio span:after {
    width: 7px;
    height: 3px;
    border-bottom: 2px solid #3149F4;
    border-left: 2px solid #3149F4;
    left: 8px;
    top: calc(50% - 1px);
    -webkit-transform: translate(-50%, -50%) rotate(-60deg);
    -ms-transform: translate(-50%, -50%) rotate(-60deg);
    transform: translate(-50%, -50%) rotate(-60deg);
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.85, 0, 0.3, 1);
    -o-transition: all 0.5s cubic-bezier(0.85, 0, 0.3, 1);
    transition: all 0.5s cubic-bezier(0.85, 0, 0.3, 1); }
  label.a-radio input:checked + span::before, label.a-radio input:focus + span::before {
    border-color: #3149F4;
    background-color: transparent;
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent; }
  label.a-radio input:checked + span:after, label.a-radio input:focus + span:after {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 1; }

.a-counter {
  position: relative;
  font-family: Playfair;
  color: #3149F4;
  font-size: 4.5rem;
  opacity: .3; }
  @media (max-width: 1024px) {
    .a-counter {
      font-size: 4rem; } }
  @media (max-width: 414px) {
    .a-counter {
      font-size: 3.5rem; } }
  .a-counter--index {
    font-size: 2em; }

.a-logo {
  position: absolute;
  top: 4rem;
  left: 4rem;
  height: 4rem; }
  .a-logo img {
    height: 100%; }

.a-table th, .a-table th, .a-table td {
  border: 1px solid #3D3C3C; }

.a-table th {
  font-weight: 600; }

.a-table td, .a-table th {
  padding: .5rem; }

.a-table td:nth-of-type(2) {
  text-align: center; }

.c-question {
  text-align: center; }
  .c-question--text {
    margin-top: 5.4rem; }
  .c-question--title {
    margin-top: 1.1rem; }
  .c-question--answers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-left: calc(-4rem/2);
    margin-right: calc(-4rem/2);
    margin-top: 4rem; }
    .c-question--answers > * {
      min-width: calc(100% / 2 - 4rem - .1rem/2);
      width: calc(100% / 2 - 4rem - .1rem/2);
      margin-left: calc(4rem/2);
      margin-right: calc(4rem/2); }
    @media (max-width: 414px) {
      .c-question--answers {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        margin-left: calc(-0rem/2);
        margin-right: calc(-0rem/2); }
        .c-question--answers > * {
          min-width: calc(100% / 1 - 0rem - .1rem/1);
          width: calc(100% / 1 - 0rem - .1rem/1);
          margin-left: calc(0rem/2);
          margin-right: calc(0rem/2); } }
  .c-question--answer {
    text-align: left;
    background-color: #EDEFF3;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.2rem 1.6rem; }
    @media (max-width: 414px) {
      .c-question--answer {
        margin: 1rem 0; } }
    .c-question--answer.m-checked {
      background-color: #EBEDFE;
      color: #3149F4; }
    .c-question--answer input {
      margin-right: 1rem; }

.c-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 4rem;
  left: 15rem; }
  .c-languages a {
    width: 4rem;
    height: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media not all and (hover: none), (-ms-high-contrast: none) {
      .c-languages a:hover img {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1); } }
  .c-languages a + a {
    margin-left: 1rem; }
  .c-languages img {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    width: 3.555555rem;
    -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.85, 0, 0.3, 1);
    transition: -webkit-transform 0.2s cubic-bezier(0.85, 0, 0.3, 1);
    -o-transition: transform 0.2s cubic-bezier(0.85, 0, 0.3, 1);
    transition: transform 0.2s cubic-bezier(0.85, 0, 0.3, 1);
    transition: transform 0.2s cubic-bezier(0.85, 0, 0.3, 1), -webkit-transform 0.2s cubic-bezier(0.85, 0, 0.3, 1); }

.s-question {
  text-align: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 2rem; }
  @media (max-width: 414px) {
    .s-question {
      padding-top: 5rem; } }
  .s-question.m-hidden {
    display: none; }
  .s-question--actions {
    margin-top: 4.6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .s-question--counter {
    position: absolute;
    top: 2rem;
    right: 7rem; }
    @media (max-width: 414px) {
      .s-question--counter {
        top: .1rem;
        right: 8vw; } }
  .s-question--corner {
    position: absolute;
    top: 0;
    right: 0;
    width: 34rem;
    z-index: 0; }
    @media (max-width: 1024px) {
      .s-question--corner {
        width: 28rem; } }
    @media (max-width: 414px) {
      .s-question--corner {
        display: none; } }

.s-result {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex; }
  .s-result.m-hidden {
    display: none; }
  .s-result--container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 414px) {
      .s-result--container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .s-result--info {
    width: 45%;
    padding-top: 12rem;
    padding-bottom: 12rem; }
    @media print {
      .s-result--info {
        width: 85%; } }
    @media (max-width: 414px) {
      .s-result--info {
        width: 100%; } }
  .s-result--graph {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 55%; }
    @media (max-width: 414px) {
      .s-result--graph {
        width: 100%;
        margin-top: 4rem; } }
    .s-result--graph svg {
      width: 100%;
      height: auto; }
  .s-result--legend {
    margin-top: 3rem;
    margin-bottom: 1rem; }
    .s-result--legend li {
      position: relative;
      padding-left: 2rem;
      font-weight: 600; }
      .s-result--legend li::before {
        content: '•';
        position: absolute;
        left: 0;
        top: -5px;
        font-size: 19px;
        color: #3D3C3C; }
    .s-result--legend li + li {
      margin-top: 1rem; }
    .s-result--legend li:nth-of-type(1) {
      color: #69BB59; }
    .s-result--legend li:nth-of-type(2) {
      color: #E2A122; }
    .s-result--legend li:nth-of-type(3) {
      color: #DC5450; }
  .s-result--table {
    margin-top: 4rem; }

.p-home {
  background: url("../img/illu.png");
  background-position: 100% 40%;
  background-size: 45%;
  background-repeat: no-repeat; }
  @media (max-width: 768px) {
    .p-home {
      background: none; } }

.s-home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .s-home--illu {
    position: absolute;
    width: 50%;
    top: 50%;
    right: 0; }
  .s-home--info {
    width: 50%; }
    @media (max-width: 768px) {
      .s-home--info {
        width: 100%; } }
